/* *********************************
           Variables
  ********************************** */
$navbar-height: 50px;
$big-logo-padding: 15px; 
$small-logo-padding: 2px; 
$white: #fff;
$black: #000;
$title: aliquamultralight;
$ubuntu: 'Ubuntu', sans-serif;
$opensans: 'Open Sans', sans-serif;
$divider: 5px solid #6f6666;

// GENERAL THEME STUFF
body {
    background: #f0eeee;
    font-family: $ubuntu;
}
a {
    color: #f6436b;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $title;
}
h1 {
    font-size: 69px;
    letter-spacing: 4px;
    font-weight: normal;
    margin-bottom: 40px;
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
        font-size: 56px;
        font-family: $title;
        margin-bottom: 20px;
    }
    @media (max-width: $screen-sm-max) {
        font-size: 37px;
        font-family: $title;
        margin-bottom: 20px;
    }
    @media (max-width: $screen-xs-max) {
        font-size: 27px;
        font-family: $title;
        margin-bottom: 20px;
    }
    .para-text {
        left: 0;
        top: 45px;
        width: 100%;
        z-index: 1;
    }
}
h6 {
    border-top: 1px solid #DEDCDC;
}
#wrapper {
    display: none;
}
.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media (min-width: 768px) {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 768px) {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}


// GENERAL THEME STUFF

.big-wrapper {
    margin: 0;
    .sections {
        text-align: center;
        background-position: center top;
        background-repeat: no-repeat;
        //background-attachment: fixed;
        padding-top: 80px;
    }
    .manage-biz-section {
        height: 863px;
        text-align: center;
        background-position: center top;
        background-repeat: no-repeat;
        //background-attachment: fixed;
        background-image: url('./images/josh-hero.jpg');
             /* Mobile Parallax Photo */
             @media (max-width: 650px) { 
                background-image: url('./images/small-screen/768-md-screen-manage-section.jpg'); 
                height: 715px;
             }
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                background-image: url('./images/small-screen/768-md-screen-manage-section.jpg'); 
                height: 1075px;
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
                background: url('./images/small-screen/md-screen-manage-section.jpg') no-repeat center center fixed;
                height: 767px;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;
                  background-size: cover;
            }
            
        .easily-manage {
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            text-align: center;
            width: 50%;
            @media (max-width: 650px) {
                width: 90%;
                margin-top: 40px;
            }
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
                width: 62%;
                .josh {
                    margin-top: 30px;
                }
            }
            .thick-divider {
                border-top: $divider;
            }
            .our-family-of-users p {
                color: #4F4F4F;
                font-family: $title;
                font-size: 30px;
                font-style: italic;
                letter-spacing: 2px;
                margin: 60px auto;
                width: 60%;
                @media (max-width: 650px) {
                    width: 95%;
                    font-size: 18px;
                    font-style: normal;
                    margin: 30px auto;
                }
                @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
                    width: 100%;
                    font-size: 29px;
                    margin: 30px auto;
                    font-weight: 600;
                }
                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
                    width: 100%;
                    font-size: 25px;
                    color: #000;
                    font-weight: 600;
                }
            }
        }
    }
    .video-section {
        height: 1250px;
        @extend .sections;
        background-image: url('./images/para-video-section.jpg');
             /* Mobile Photo */
        @media (max-width: 650px) {
            background-image: url('./images/para-video-section.jpg'); 
            height: 715px;
        }     
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            background-image: url('./images/para-video-section.jpg'); 
            height: 900px;
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            height: 1215px;
        }
        
        
        .video {
            background: url();
            margin:90px auto 50px;
            img {
                cursor: pointer;
            }
            @media (max-width: 650px) {
                margin:50px auto 20px;
            }
        }
        h1 {
            margin: 0px;
            padding: 0px;
        }
        h3 {
            color: $white;
            font-size: 42px;
            font-style: normal;
            font-weight: 600;
            text-shadow: 0 0 5px #000000;
            @media (max-width: 650px) {
                font-size: 25px;
            }
        }
        .short-video-p {
            color: #6f6666;
            font-family: $ubuntu;
            font-size: 20px;
            font-style: italic;
            letter-spacing: 2px;
            margin: 0px auto;
            width: 60%;
            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                p {
                    margin-top: 15px;
                    font-size: 17px;
                }
            }
            @media (max-width: 650px) {
                width: 95%;
                font-size: 18px;
                font-style: normal;
                margin: 30px auto;
            }
        }
        .get-started {
            p {
                color: $white;
                font-family: $ubuntu;
                font-size: 19px;
                font-style: normal;
                font-weight: bold;
                letter-spacing: 0px;
                text-shadow: 0px 0px 4px #000;
                @media (max-width: 650px) { 
                    font-size: 19px;
                    font-weight: normal;
                    line-height: 21px;
                }
            }        
        }
    }
    .features-section {
        height: 1220px;
        @extend .sections;
        background-image: url('./images/features-section.jpg');
             /* Mobile Photo */
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            background-image: url('./images/features-section.jpg'); 
            height: 1015px;
            background-attachment: fixed;
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            background-image: url('./images/small-screen/md-screen-features-section.jpg'); 
            //height: 2310px;
            height: 1218px;
        }
        
        
        h1 {
            text-align: center
        }
        h3 {
            color: #f6436b;
            font-family: $ubuntu;
        }
        p {
            color: #53585b;
            font-size: 16px;
            font-style: italic;
        }
        .features {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 650px) { 
                width: 100%;
            }
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: 90%;
            }
        }
        .row-1 {
            margin-bottom: 50px;
        }
        .row-2 {
            margin-top: 50px;
        }
    
    }
    .testimonial-section {
        height: 671px;
        @extend .sections;
        background-image: url('./images/testimonial-section.jpg');
             /* Mobile Photo */
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            background-image: url('./images/testimonial-section.jpg'); 
            height: 670px;
        }
        .thick-divider {
                border-top: $divider;
        }
        .flexslider {
            .slides {
                li {
                    font-family: $title;
                    font-size: 37px;
                    letter-spacing: 2px;
                    padding-left: 160px;
                }
            }
        } 
    
    }
    .price-section { 
        height: 2197px;
        @extend .sections;    
        background-image: url('./images/price-section.jpg');
             /* Mobile Photo */
        @media (max-width: 650px) {
            background-image: url('./images/price-section.jpg'); 
            height: 1590px;
        }     
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            background-image: url('./images/price-section.jpg');
            height: 1962px;
        }
        h1 {
            text-align: center;
            color: $white;
            @media (max-width: 650px) { 
                font-size: 30px;
            }
        }
        p {
            color: #D2D2D2;
            font-family: $ubuntu;
            font-size: 22px;
            letter-spacing: 2px;
            line-height: 32px;
            @media (max-width: 650px) { 
                font-size: 15px;
                letter-spacing: 0px;
                line-height: 20px;
            }
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
                font-size: 15px;
                letter-spacing: 1px;
                line-height: 20px;
            }
        }
        .count-down-price {
            background: $black;
            color: #FFFFFF;
            font-family: $title;
            font-size: 25px;
            letter-spacing: 3px;
            margin-top: 25px;
            padding: 0px;
            text-transform: uppercase;
            @media (max-width: 650px) { 
                display: none;
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
                font-size: 16px;
            }
            .clock {
                float: left;
                margin: 10px 0 0 10px;
            }
            .saleendsin {
                .endsin {
                    float: left;
                    margin: 19px 0 0 20px;
                    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
                        margin: 24px 0 0 20px;
                    }
                    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
                        float: left;
                        font-size: 16px;
                        margin: 24px 0 0 20px;
                    }                    
                }
            }
            span {
                font-size: 48px;
                font-family: $ubuntu;
                font-weight: bold;
                color: #f6436b;
                letter-spacing: 0px;
            }
            span.timeframe {
                font-size: 18px;
                font-family: $ubuntu;
                font-weight: normal;
                color: $white;
                text-transform: lowercase;
            }
        }
        .price-table {
            margin-top: 50px;
            @media (max-width: 650px) { 
                margin-top: 0px;
            }
            .block-topper-spacer {
                padding: 15px 0px;
            }
            .block-topper {
                background: #f6436b;
                padding: 5px 0px;
                color: $white;
                letter-spacing: 2px;
                @media (max-width: 650px) { 
                    margin-top: 30px;
                }
            }
            .top-block {
                background: $black;
                color: $white;
                padding: 20px 0px 40px;
                h3 {
                    font-family: $ubuntu;
                    font-size: 20px;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 2px;
                    @media (max-width: 650px) { 
                        font-size: 17px;
                        letter-spacing: 1px;
                    }
                }
                .short-sale {
                    font-style: italic;
                    font-size: 16px;
                    font-family: Georgia, serif;
                    color: #48c98f;
                    .smallpack {
                        margin-top: 60px;
                        @media (max-width: 650px) { 
                            margin-top: 0px;
                        }
                    }
                    .big {
                        margin-top: 30px;
                        @media (max-width: 650px) { 
                            margin-top: 0px;
                        }
                    }
                }
                .popular {
                    font-style: italic;
                    font-size: 18px;
                    font-family: Georgia, serif;
                    color:#f6436b;
                    margin-top: 40px;
                    @media (max-width: 650px) { 
                        margin-top: 0px;
                    }
                }

                a.main-cta {
                        @media (max-width: 650px) { 
                            display: block;
                            padding: 20px;
                            font-size: 14px;
                            letter-spacing: 1px;
                            color: $white;
                            margin-top: 30px;
                            margin-left: auto;
                            margin-right: auto;
                            background: #f6436b;
                            width: 80%;
                            text-align: center;
                            font-weight: 600;
                            font-family: $ubuntu;
                            text-transform: uppercase;
                        }
                        &:hover {
                            background: #2f89e2;
                        }
                    }
                    a.second-cta {
                        @media (max-width: 650px) { 
                            display: block;
                            padding: 20px;
                            font-size: 14px;
                            letter-spacing: 1px;
                            color: $white;
                            margin-top: 30px;
                            margin-left: auto;
                            margin-right: auto;
                            background: #3c9ef4;
                            width: 80%;
                            text-align: center;
                            font-weight: 600;
                            font-family: $ubuntu;
                            text-transform: uppercase;
                        }
                        &:hover {
                            background: #2f89e2;
                        }
                    }

                                .big-price {
                    font-size: 75px;
                    text-transform: uppercase;
                    margin: -13px 0px -22px;
                    span.money {
                        font-size: 20px;
                        vertical-align: super;
                        margin-top: 5px;
                    }
                    span {
                        font-size: 15px;
                    }
                }
                .normal-price {
                    font-size: 24px;
                    color: #c7c7c7;
                    text-transform: uppercase;
                    margin-top: -13px;
                    span {
                        font-size: 15px;
                    }
                }
            }
        .package {
            background: $white;
            color: #3d3d3d;
            padding: 20px;
            text-align: left;
            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
                li {
                    border-bottom: 1px solid #eae8e8;
                    padding: 15px 15px 15px 30px;
                    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
                        padding: 10px 0px 10px 5px;
                    }
                }
            }
            a.cta {
                display: block;
                padding: 20px;
                font-size: 14px;
                letter-spacing: 1px;
                color: $white;
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
                background: #3c9ef4;
                width: 80%;
                text-align: center;
                font-weight: 600;
                font-family: $ubuntu;
                text-transform: uppercase;
                &:hover {
                    background: #2f89e2;
                    text-decoration: none;
                }
                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
                    font-size: 10px;
                }
            }
            a.main-cta {
                display: block;
                padding: 20px;
                font-size: 14px;
                letter-spacing: 1px;
                color: $white;
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
                background: #f6436b;
                width: 80%;
                text-align: center;
                font-weight: 600;
                font-family: $ubuntu;
                text-transform: uppercase;
                &:hover {
                    background: #2f89e2;
                    text-decoration: none;
                }
                 @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
                            font-size: 10px;
                        }
            }
        }
        .moneyback {
            color: $white;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 20px;
        }
    }
}
    .faq-section { 
        height: 900px;
        @extend .sections;
        background-image: url('./images/faq-footer.jpg');
             /* Mobile Photo */
             
        @media (max-width: 650px) {
            background-attachment: fixed;
            background-image: url("./images/faq-footer.jpg");
            height: 1560px;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            background-image: url("./images/faq-footer.jpg");
            height: 1175px;
        }
        .thick-divider {
                border-top: 5px solid #6f6666;
        }
        h3 {
            font-size: 15px;
            font-family: $ubuntu;
            text-transform: uppercase;
            text-align: left;
            padding: 0px;
            margin-top: 40px;
            margin-bottom: 20px;
            @media (max-width: 650px) { 
                text-align: center;
            }
        }
        p {
            text-align: left;
            font-size: 14px;
            @media (max-width: 650px) { 
                text-align: center;
            }
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
                text-align: left;
            }
        }
    }
    .footer-section {
        margin: 80px 0 0;
        text-align: left;
        color: #606060;
            a {
                color: #606060;
            }
        .footer-wrapper {
            padding: 20px 20px 40px;
            .footer-menu {
                margin-bottom: 30px;
                .footer-nav {
                    ul { 
                            list-style:none;
                            margin: 0px;
                            padding: 0px;
                        li{
                            text-align:center;
                            display:inline-block;
                            @media (max-width: 650px) { 
                                display: block;
                            }
                        }
                        li:before {
                            content: " | ";
                            margin-left: 10px;
                            margin-right: 10px;
                            @media (max-width: 650px) { 
                                content: "";
                                margin-left: 0px;
                                margin-right: 0px;
                            }
                        }
                        li:first-child:before {
                            content: none;
                        }
                    }    
                }
            }
            a.btn-cta {
                background: none repeat scroll 0 0 #F6436B;
                color: $white;
                font-family: $ubuntu;
                font-style: normal;
                font-size: 15px;
                letter-spacing: 1px;
                padding: 10px 40px;
                text-transform: uppercase;
                width: 200px;
                &:hover {
                    background: #2f89e2;
                }
                @media (max-width: 650px) { 
                    font-size: 11px;
                }
            }
            .last-chance {
                text-align: right;
                margin-top: 0px;
                p {
                    text-align: right;
                    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
                    text-align: center;
                }
                }
                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
                    text-align: center;
                    margin: 30px 0 0;
                }
                @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
                    margin-top: 0px;
                }
                @media (max-width: 650px) {
                    display: none;
                }
            }
        }
    }
    a.btn-cta {
        background: none repeat scroll 0 0 #F6436B;
        color: $white;
        font-family: $ubuntu;
        font-style: normal;
        font-size: 24px;
        letter-spacing: 1px;
        padding: 10px 40px;
        text-transform: uppercase;
        &:hover {
            background: #2f89e2;
        }
        @media (max-width: 650px) {
            font-size: 15px;
        }
    }
    .hideme {
        opacity:0;
    }
    .keepscrolling {
        margin-top: 100px;
        background: $black;
    }
}
#wrap {
    //display: none;
    .navi {
        height: 60px;
        padding-top: 11px;
        background: $white;
        @media (max-width: 650px) {
            height: auto;
        }
    }
    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) { 
        .navbar-nav {
            margin-left: auto;
            margin-right: auto;
            width: 54%;
        }
        .nav > li > a {
            display: block;
            margin: 0 15px 0 0;
            position: relative;
            font-size: 15px;
        }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
    .navbar-nav {
            margin-left: auto;
            margin-right: auto;
            width: 78%;
            li.signup a {
                background: #2f89e2;
                color: $white;
                border-radius: 5px;
                padding: 7px;
                margin-top: 8px;
                &:hover {
                    background: #f6436b;
                    color: $white;
                }
            }
            li a {
                color: $black;
            &:hover {
                    color: #f6436b;
                }
            }
        }
        .nav > li > a {
            display: block;
            margin: 0 15px 0 0;
            position: relative;
            font-size: 15px;
        }
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
    .navbar-nav {
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            li.signup a {
                background: #2f89e2;
                color: $white;
                border-radius: 5px;
                padding: 7px;
                margin-top: 8px;
                &:hover {
                    background: #f6436b;
                    color: $white;
                }
            }
            li a {
                color: $black;
            &:hover {
                    color: #f6436b;
                }
            }
        }
        .nav > li > a {
            display: block;
            margin: 0 15px 0 0;
            position: relative;
            font-size: 15px;
        }
    }

    @media (min-width: $screen-lg-min) { 
    .navbar-nav {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            li.signup a {
                background: #2f89e2;
                color: $white;
                border-radius: 5px;
                padding: 7px;
                margin-top: 8px;
                &:hover {
                    background: #f6436b;
                    color: $white;
                }
            }
            li a {
                color: $black;
            &:hover {
                    color: #f6436b;
                }
            }
        }
        .nav > li > a {
            display: block;
            margin: 0 15px 0 0;
            position: relative;
            font-size: 15px;
        }
    }
}
.onepage {
    .cancel {
        display: block;
            a {
            color: #a5b1bc;
            font-family: $ubuntu;
            text-transform: uppercase;
            margin-top: 20px;
            display: block;
            &:hover {
                color: #f3446b;
                text-decoration: none;
                span {
                background: #f3446b;
                color: $black;
                padding: 3px 7px;
                border-radius: 30px;
                }
            }
            span {
                background: #a5b1bc;
                color: $black;
                padding: 3px 7px;
                border-radius: 30px;
                &:hover { 
                    background: #f3446b;
                    color: $white;
                }
            }
        }
    }
    .form-control {
        font-size: 17px;
    }
    .signupstepone {
        background: url('./images/register-background.jpg') no-repeat center center;
        min-height: 967px;
        padding-top: 30px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-top: 100px;     
        color: $white;
        @media (max-width: 650px) {
            min-height: 830px;
        }
        p {
            color: #D2D2D2;
            font-size: 21px;
            font-weight: 100;
            letter-spacing: 1px;
            margin: 32px 0 70px;
            @media (max-width: 650px) {
                margin: 32px 0 20px;
            }
        }
        .form-control {
            height: 53px;
        }
        .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
            border: 1px solid #FFADAB;
            color: #FFADAB;
            padding: 9px;
        }
        form {
            margin-top: 35px;
            .form-cta {
                background: none repeat scroll 0 0 #F6436B;
                border: medium none;
                float: right;
                padding: 13px 34px;
            }
        }
        h3 {
            font-family: 'Bad Script', cursive;
            color: $white;
            font-size: 49px;
            margin-top: 100px;
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                margin-top: 50px;
            }
            @media (max-width: 650px) {
                margin-top: 50px; 
            }
        }
    }
    .stepone {
        background: #a5b1bc;
        padding: 10px 13px;
        color: #012f57;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        
        span {
            background: #f6436b;
            -webkit-border-radius: 50px 50px 50px 50px;
            border-radius: 50px 50px 50px 50px;
            float: left;
            margin: 0 15px 0 0;
            padding: 7px 15px;
            color: $white;
        }
        .subtext {
            font-size: 12px;
            font-weight: normal;
            margin-top: -3px;
            padding: 0;
        }
    }
    .steptwo {
        background: #1e71b4;
        padding: 10px 13px;
        color: #084c7b;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        
        span {
            background: #084b7b;
            -webkit-border-radius: 50px 50px 50px 50px;
            border-radius: 50px 50px 50px 50px;
            float: left;
            margin: 0 15px 0 0;
            padding: 7px 15px;
            color: #3796e9;
        }
        .subtext {
            font-size: 12px;
            font-weight: normal;
            margin-top: -3px;
            padding: 0;
        }
    }
    .stepthree {
        background: #1e71b4;
        padding: 10px 13px;
        color: #084c7b;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        span {
            background: #084b7b;
            -webkit-border-radius: 50px 50px 50px 50px;
            border-radius: 50px 50px 50px 50px;
            float: left;
            margin: 0 15px 0 0;
            padding: 7px 15px;
            color: #3796e9;
        }
        .subtext {
            font-size: 12px;
            font-weight: normal;
            margin-top: -3px;
            padding: 0;
        }
    }
    
        .signupsteptwo {
            background: url('./images/register-background.jpg') no-repeat center center;
            min-height: 967px;
            padding-top: 30px;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: $white;
            @media (max-width: 650px) {
                min-height: 1165px;
            }
            p {
                color: #D2D2D2;
                font-size: 21px;
                font-weight: 100;
                letter-spacing: 1px;
                margin: 32px 0 70px;
                @media (max-width: 650px) {
                    margin: 32px 0 20px;
                }
            }
            .form-control {
                height: 53px;
            }
        .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
            border: 1px solid #FFADAB;
            color: #FFADAB;
            padding: 9px;
        }
        form {
            margin-top: 35px;
            .form-cta {
                background: none repeat scroll 0 0 #F6436B;
                border: medium none;
                float: right;
                padding: 13px 34px;
            }
        }
        h3 {
            font-family: 'Bad Script', cursive;
            color: $white;
            font-size: 49px;
            margin-top: 100px;
            @media (max-width: 650px) {
                margin-top: 50px;
            }
        }
        .stepone {
            background: #1e71b4;
            padding: 10px 13px;
            color: #084c7b;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            
            span {
                background: #084b7b;
                -webkit-border-radius: 50px 50px 50px 50px;
                border-radius: 50px 50px 50px 50px;
                float: left;
                margin: 0 15px 0 0;
                padding: 7px 15px;
                color: #3796e9;
            }
            .subtext {
                font-size: 12px;
                font-weight: normal;
                margin-top: -3px;
                padding: 0;
            }
        }
        .steptwo {
            background: #a5b1bc;
            padding: 10px 13px;
            color: #012f57;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            span {
                background: #f6436b;
                -webkit-border-radius: 50px 50px 50px 50px;
                border-radius: 50px 50px 50px 50px;
                float: left;
                margin: 0 15px 0 0;
                padding: 7px 15px;
                color: $white;
            }
            .subtext {
                font-size: 12px;
                font-weight: normal;
                margin-top: -3px;
                padding: 0;
            }
        }
    }
    
        
    .signupstepthree {
        background: url('./images/register-background.jpg') no-repeat center center;
        min-height: 967px;
        padding-top: 30px;
        padding-bottom: 100px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: $white;
        @media (max-width: 650px) {
            padding-bottom: 50px;
        }
         p {
            color: #D2D2D2;
            font-size: 21px;
            font-weight: 100;
            letter-spacing: 1px;
            margin: 32px 0 70px;
            @media (max-width: 650px) {
                margin: 32px 0 20px;
            }
        }
        h6 {
            margin-top: 40px;
            border: 1px solid #677274;
        }
        .creditcardinfo {
            font-size: 15px;
            color: #fff;
            font-style: italic;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        .form-control {
            height: 53px;
        }
        .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
            border: 1px solid #FFADAB;
            color: #FFADAB;
            padding: 9px;
        }
        form {
            margin-top: 35px;
            .form-cta {
                background: none repeat scroll 0 0 #F6436B;
                border: medium none;
                font-size: 20px;
                margin-top: 20px;
                padding: 20px 71px;
                @media (max-width: 650px) {
                    padding: 20px 55px;
                }
            }
        }
        h3 {
            font-family: 'Bad Script', cursive;
            color: $white;
            font-size: 49px;
            margin-top: 100px;
            @media (max-width: 650px) { 
                margin-top: 50px;
            }
        }
        .giftcode {
            margin-top: 50px;
        }
        .stepone {
            background: #1e71b4;
            padding: 10px 13px;
            color: #084c7b;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            span {
                background: #084b7b;
                -webkit-border-radius: 50px 50px 50px 50px;
                border-radius: 50px 50px 50px 50px;
                float: left;
                margin: 0 15px 0 0;
                padding: 7px 15px;
                color: #3796e9;
            }
            .subtext {
                font-size: 12px;
                font-weight: normal;
                margin-top: -3px;
                padding: 0;
            }
        }
        .steptwo {
            background: #1e71b4;
            padding: 10px 13px;
            color: #084c7b;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            span {
                background: #084b7b;
                -webkit-border-radius: 50px 50px 50px 50px;
                border-radius: 50px 50px 50px 50px;
                float: left;
                margin: 0 15px 0 0;
                padding: 7px 15px;
                color: #3796e9;
            }
            .subtext {
                font-size: 12px;
                font-weight: normal;
                margin-top: -3px;
                padding: 0;
            }
        }
        .stepthree {
            background: #a5b1bc;
            padding: 10px 13px;
            color: #012f57;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            span {
                background: #f6436b;
                -webkit-border-radius: 50px 50px 50px 50px;
                border-radius: 50px 50px 50px 50px;
                float: left;
                margin: 0 15px 0 0;
                padding: 7px 15px;
                color: $white;
            }
            .subtext {
                font-size: 12px;
                font-weight: normal;
                margin-top: -3px;
                padding: 0;
            }
        }
        .cc-money-back-seal {
            margin-top: 40px;
        }
        .greatnews {
            font-size: 15px;
        }
        .awesome {
            font-family: 'Bad Script', cursive;
            font-size: 25px;
        }
    }
}


//Some Style Overrides on Bootstrap
  
.small-nav {
    background: rgba(255,255,255,0.5);
}
.navbar-nav {
    margin-top: 5px;
}
.navbar-inverse {
    background: rgba(62,195,246,0);
    border-bottom: none;
    .navbar-toggle {
        :hover {
            background-color: none;
        }
        :focus {
            background-color: none;
        }
        .icon-bar {
            background-color: #8F8F8F;
        }
    }
}
.navbar-inverse .navbar-toggle {
  border: none;
  border-color: none;
}
.navbar-toggle {
    background: none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border-color: transparent;
  @media (max-width: 767px) {
    background: rgba(255,255,255,0.75);
  }
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    font-family: $ubuntu;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: lighter;
    
    @media (max-width: 650px) {
        border-bottom: 1px solid #DDDDDD;
        color: #000000;
        font-family: "Ubuntu",sans-serif;
        font-size: 16px;
        font-weight: lighter;
        text-align: center;
        text-transform: uppercase;
    }
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #22F;

}

//Toolbar Logo

.small-logo-container {
    padding-top: $navbar-height;
    height: $navbar-height;
    overflow: hidden;
    margin-top: 0px;
  }

.small-logo {
  color: white;
  font-size: 2.5em;
  padding-bottom: $small-logo-padding;
}

// Big Logo

.big-logo-row {
  background: $white;
  margin-top: -4px;
  .big-logo-container {
    padding-top: 0px;
  }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #8F8F8F;
    background: none;
}
.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #f2f3f2;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 
 
// FONTS

@font-face {
    font-family: 'aliquamultralight';
    src: url('../assets/fonts/aliquam-webfont.eot');
    src: url('./assets/fonts/aliquam-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/aliquam-webfont.woff') format('woff'),
         url('./assets/fonts/aliquam-webfont.ttf') format('truetype'),
         url('./assets/fonts/aliquam-webfont.svg#aliquamultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aliquamregular';
    src: url('../assets/fonts/aliquamreg-webfont.eot');
    src: url('../assets/fonts/aliquamreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/aliquamreg-webfont.woff') format('woff'),
         url('../assets/fonts/aliquamreg-webfont.ttf') format('truetype'),
         url('../assets/fonts/aliquamreg-webfont.svg#aliquamregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aliquamitalic';
    src: url('../assets/fonts/aliquamrit-webfont.eot');
    src: url('../assets/fonts/aliquamrit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/aliquamrit-webfont.woff') format('woff'),
         url('../assets/fonts/aliquamrit-webfont.ttf') format('truetype'),
         url('../assets/fonts/aliquamrit-webfont.svg#aliquamitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}