body {
	background: #fff;
}
.big-wrapper {
	margin: 0;
	.parallax-section-1 {
        height: 1019px;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url('./images/hero-header-josh.jpg');
             /* Mobile Parallax Photo */
        @media (max-width: 650px) {
            background-image: url('./images/hero-header-josh.jpg'); height: 300px;
        }
    }
    .video-section {
        height: 1666px;
        background-position: center top;
        background-repeat: no-repeat;
        background-image: url('./images/para-video-section.jpg');
             /* Mobile Photo */
        @media (max-width: 650px) {
            background-image: url('./images/para-video-section.jpg'); height: 300px;
        }
    
    }
    .features-section {
        height: 1220px;
        background-position: center top;
        background-repeat: no-repeat;
        background-image: url('./images/features-section.jpg');
             /* Mobile Photo */
        @media (max-width: 650px) {
            background-image: url('./images/features-section.jpg'); height: 300px;
        }
    
    }
    .testimonial-section {
        height: 671px;
        background-position: center top;
        background-repeat: no-repeat;
        background-image: url('./images/testimonial-section.jpg');
             /* Mobile Photo */
        @media (max-width: 650px) {
            background-image: url('./images/testimonial-section.jpg'); height: 300px;
        }
    
    }
}
